<div style="display: none;" id="wc-backbone-modal-dialog-factoring004-otp">
    <div class="wc-backbone-modal wc-order-preview">
        <div class="wc-backbone-modal-content" tabindex="0">
            <section class="wc-backbone-modal-main" role="main">
                <header class="wc-backbone-modal-header">
                    <h1 class="factoring004-title">Окно подтверждение смс кода</h1>
                </header>
                <article style="max-height: 571.5px;">
                    <div class="factoring004-description">
                        <h4>На ваш номер телефона был отправлен смс с кодом</h4>
                    </div>
                    <div class="factoring004-content-block">
                        <form id="factoring004-check-otp" method="post">
                            <input class="factoring004-input-check-otp" type="text">
                        </form>
                    </div>
                    <div class="factoring004-error-text"></div>
                </article>
                <footer>
                    <div class="inner">
                        <button id="factoring004-button-check-otp" class="button button-primary button-large">Подтвердить</button>
                        <button id="factoring004-button-check-otp-cancel" class="button button-secondary button-large">Отмена</button>
                    </div>
                </footer>
            </section>
        </div>
    </div>
    <div class="wc-backbone-modal-backdrop modal-close"></div>
</div>